<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ambitious.bvlion.batch2.mapper.JorudanDataMapper">
    <insert id="jorudan_data_insert" parameterType="net.ambitious.bvlion.batch2.entity.JorudanDataEntity">
        INSERT INTO jorudan
            (posted_date, detail, description, url)
        VALUES
            (#{postedDate}, #{detail}, #{description}, #{url})
    </insert>
    <select id="jorudanDataSelect" resultType="net.ambitious.bvlion.batch2.entity.JorudanDataEntity">
        SELECT url FROM jorudan
    </select>
</mapper>
