<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ambitious.bvlion.batch2.mapper.UserMapper">
    <update id="fcmUpdate">
        INSERT INTO users (user_name, in_home_flag)
        VALUES (#{user}, false)
        ON DUPLICATE KEY UPDATE
        user_name = #{user};
    </update>

    <update id="userModeUpdate">
        UPDATE users SET
        in_home_flag = #{mode},
        ip_address = #{ip}
        WHERE user_name = #{user}
    </update>

    <select id="userCount" resultType="int">
        SELECT COUNT(*) FROM users WHERE in_home_flag = 1
    </select>

    <select id="fcmSendUsers" resultType="string">
        SELECT user_name FROM users WHERE user_name != #{user}
    </select>

    <select id="allUsers" resultType="string">
        SELECT user_name FROM users WHERE user_name
    </select>

    <select id="userInHome" resultType="int">
        SELECT in_home_flag FROM users WHERE user_name = #{user}
    </select>
</mapper>
